/* *--Шрифты--* */

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
        url(../fonts/OpenSans-Bold.woff) format("woff"),
        url(../fonts/OpenSans-Bold.woff2) format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
        url(../fonts/OpenSans-Regular.woff) format("woff"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: normal;
}

/* !--Общие стили--! */

html {
    font-size: 10px;
}

body {
    margin: 0;
    min-width: 100%;
}

/* TODOO Недоделанные корректировки ! */


.href-none {
    text-decoration: none;
}

.download__link {
    color: #ffffff;
    text-transform: uppercase;
}

/*--Header--*/

.header__box {
    position: relative;
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-color: #090c35;
    background-position: top center;
    background-size: cover;
    min-height: 56rem;
    z-index: 0;
}

.header-svg__box {
    padding-top: 3rem;
}

@media (min-width: 641px) and (max-width: 960px) {

    .header__box {
        background-image: url(../img/football_1280.jpg);
        min-height: 96rem;

    }

    .header-svg__box {
        padding-top: 5rem;
    }
}

@media (min-width: 961px) {

    .header__box {
        background-image: url(../img/football_1920.jpg);
        min-height: 96rem;
    }

    .header-svg__box {
        padding-top: 5rem;
    }
}

.header__box::after {
    content: "";
    background-color: #090c35;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
    padding-top: 3rem;
}

.header-svg__box .svg-logo-text {
    position: relative;
    display: block;
    fill: #ffffff;
    width: 12rem;
    margin: 0 auto;
    z-index: 2;
}

@media (min-width: 641px) {
    .header-svg__box .svg-logo-text {
        width: 20rem;
    }
}

.header-slogan__box {
    position: relative;
    display: block;
    margin-top: 13.5rem;
    padding: 0 2rem;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

.header-slogan {
    position: relative;
    font-size: 2.8rem;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    z-index: 2;
}

.slogan__2 {
    position: relative;
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 2.8rem;
    line-height: 3.2rem;
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-slogan__box {
        margin-top: 17rem;
        max-width: 62rem;
    }

    .header-slogan {
        font-size: 6.4rem;
        line-height: 7.0rem;
        letter-spacing: 0.2rem;
    }

    .slogan__2 {
        margin-top: 1rem;
        margin-left: 10rem;
    }
}

@media (min-width: 961px) {
    .header-slogan__box {
        margin-top: 20rem;
        max-width: 155rem;
        min-width: 960px;
    }

    .header-slogan {
        font-size: calc(4rem + 2vw);
        line-height: 10rem;
        letter-spacing: 0.2rem;
    }

    .slogan__1 {
        padding-left: 2rem;
    }

    .slogan__2 {
        margin-top: 0.5rem;
        margin-left: 20vw;
    }
}

.header-button__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    z-index: 2;
}

.button-download__box {
    position: relative;
    display: block;
    height: 3.5rem;
    width: 28rem;
    margin-bottom: 1.5rem;
    background-color: #5e42b0;
    border-radius: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0rem 1rem 1rem #090c35;
}

.button-download__box:active {
    box-shadow: none;
}

.dowload__box {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.left-download__box {
    display: flex;
    justify-content: flex-end;
    flex-basis: 39%;
}

.svg-logo__box {
    fill: #ffffff;
    width: 2.5rem;
}

.right-download__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

.top-link__text {
    font-size: 0.8rem;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: normal;
}

.bottom-link__text {
    font-size: 0.8rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
}

/*--Main-**/

.main__box {
    position: relative;
    margin: 0 auto;
}

.top-sport__box,
.bottom-sport__box {
    padding-top: 2.5rem;
}

.h1__title {
    position: relative;
    display: block;
    margin: 0 2rem 1.2rem;
    font-family: "Open Sans";
    font-size: 5rem;
    line-height: 5.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e7e7e7;
}

.sport-img__box {
    position: relative;
    margin-bottom: -4rem;
}

.sport-img {
    position: relative;
    display: block;
    margin: 0 auto;
}

.agitation__box {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 5rem 2rem 5rem 2rem;
}

.agitation-content__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agitation-title__box {
    position: relative;
    display: flex;
    align-items: center;
}

.top-num__box {
    position: relative;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-right: 1rem;
    align-self: center;
}

.top-num__box::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #5e42b0;
    width: 1.6rem;
    height: 0.4rem;
    border-radius: 2rem;
}

.h3__title {
    font-family: "Open Sans";
    display: block;
    font-size: 2.3rem;
    line-height: 3.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0;
    color: #c1c1c1;
}


.agitation-content__txt {
    display: block;
    margin: 0;
    font-family: "Open Sans";
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    padding: 2rem 0;
}

.agitation__box:nth-child(4) {
    background-color: #f5f4f9;
}

.top-sport__box .agitation__box:nth-child(5) {
    background-color: #5e42b0;
    color: #ffffff;
}

.bottom-sport__box .agitation__box:nth-child(5) {
    background-color: #090c35;
    color: #ffffff;
}

.agitation__box:nth-of-type(3n+1) .top-num__box:after {
    background-color: #efefef;
}

.top-sport__box .agitation__box:nth-child(3n+2) .top-num__box {
    color: black;
}

.bottom-sport__box .agitation__box:nth-child(5n+5) .top-num__box {
    color: #5e42b0;
}

.lifestyle-img {
    position: relative;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.ls-num__box {
    position: absolute;
    background-color: #5e42b0;
    height: 7rem;
    width: 7rem;
    margin-left: 2rem;
    margin-top: -5rem;
}

.ls-num {
    display: block;
    position: absolute;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    color: #fafafa;
    padding-left: 2.7rem;
    padding-top: 2.2rem;
}

.ls-num::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #8f7bc8;
    width: 1.6rem;
    height: 0.4rem;
    border-radius: 2rem;
    margin-top: 0.20rem;
}

.lifestyle-content__box {
    padding: 2rem;
    margin-top: 2rem;
}

.lifestyle-content__box .h3__title {
    color: #e7e7e7;
}

.lifestyle-content__txt {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    font-family: "Open Sans";
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    padding-top: 1rem;
    font-weight: normal;
}

@media (min-width: 641px) and (max-width: 960px) {

    .top-sport__box,
    .bottom-sport__box {
        padding-top: 7rem;
    }

    .agitation__box {
        padding: 2rem
    }
}

@media (min-width: 961px) {

    .top-sport__box,
    .bottom-sport__box {
        padding-top: 10rem;
    }
}

@media (min-width: 641px) and (max-width: 750px) {
    .bottom-sport__box .sport-img {
        position: absolute;
        left: auto;
        top: -21.5rem;
        right: 0;
    }
}

@media (min-width: 751px) and (max-width: 960px) {
    .bottom-sport__box .sport-img {
        position: absolute;
        left: auto;
        top: -17rem;
        right: 0;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .top-sport__box .sport-img {
        position: absolute;
        margin: 0;
        top: -10rem;
        left: -17rem;
    }

    .h1__title {
        font-size: calc(6.5rem + 1.25vw);
        line-height: 10rem;
        padding-left: 40%;
        margin: 0 0 5rem;
    }

    .h3__title {
        font-size: 3.2rem;
        line-height: 3.8rem;
        letter-spacing: 0.1rem;
    }

    .bottom-sport__box .h1__title {
        padding-left: 3.5rem;
    }

    .agitation-content__box {
        padding-left: 40%;
    }

    .bottom-sport__box .agitation-content__box {
        padding-right: 40%;
    }

    .agitation-content__txt {
        font-size: 1.6rem;
        line-height: 2.8rem;
        letter-spacing: 0.05rem;
    }

    .top-num__box {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .top-num__box::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #5e42b0;
        width: 2.2rem;
        height: 0.5rem;
        border-radius: 2rem;

    }

    .lifestyle-img {
        position: relative;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .ls-num__box {
        height: 12rem;
        width: 12rem;
        margin-left: 3rem;
        margin-top: -9rem;
        margin-bottom: 2.5rem;
    }

    .ls-num {
        font-size: 2.4rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        padding-left: 4.55rem;
        padding-top: 3.8rem;
    }

    .ls-num::after {
        width: 2.6rem;
        height: 0.5rem;
        border-radius: 3rem;
        margin-top: 0.15rem;
    }

    .lifestyle-content__box {
        padding: 3rem;
        margin-top: 4rem;
        margin-bottom: 10rem;
    }

    .lifestyle-content__box .h3__title {
        font-size: calc(7rem + 1vw);
        line-height: 10rem;
        letter-spacing: 0.1rem;
    }

    .lifestyle-content__txt {
        font-size: 2.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
    }
}

@media (min-width: 961px) {
    .top-sport__box .sport-img {
        position: absolute;
        margin: 0;
        top: -15rem;
        left: 10%;
    }

    .bottom-sport__box .sport-img {
        position: absolute;
        margin: 0;
        top: -20rem;
        left: 40vw;
    }

    .h1__title {
        font-size: calc(6.5rem + 1.25vw);
        line-height: 10rem;
        padding-left: 50vw;
        margin: 2rem 0rem 5rem;
    }

    .h3__title {
        font-size: 3.2rem;
        line-height: 5.2rem;
        letter-spacing: 0.15rem;
    }

    .bottom-sport__box .h1__title {
        padding-left: 3.5rem;
    }

    .agitation-content__box {
        padding: 0 0 0 40%;
    }

    .bottom-sport__box .agitation-content__box {
        padding: 0 30rem 0 2rem;
    }

    .agitation-content__txt {
        font-size: 1.6rem;
        line-height: 2.8rem;
        letter-spacing: 0.05rem;
    }

    .top-num__box {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .top-num__box::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #5e42b0;
        width: 1.9rem;
        height: 0.5rem;
        border-radius: 2rem;

    }

    .lifestyle-img {
        position: relative;
        max-height: 100%;
    }

    .ls-num__box {
        height: 12rem;
        width: 12rem;
        margin-left: 3rem;
        margin-top: -9rem;
        margin-bottom: 2.5rem;
    }

    .ls-num {
        font-size: 2.4rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        padding-left: 4.55rem;
        padding-top: 3.8rem;
    }

    .ls-num::after {
        width: 2.6rem;
        height: 0.5rem;
        border-radius: 3rem;
        margin-top: 0.15rem;
    }

    .lifestyle-content__box {
        padding: 4rem;
        margin-top: 5rem;
        margin-bottom: 10rem;
    }

    .lifestyle-content__box .h3__title {
        font-size: calc(7rem + 1vw);
        line-height: 10rem;
        letter-spacing: 0.1rem;
    }

    .lifestyle-content__txt {
        font-size: 2.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
    }
}

/*--Footer--*/

.footer__box {
    position: relative;
    background-image: url("../img/game_767.jpg");
    background-color: #090c35;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 56rem;
    margin: 0;
    z-index: 0;
}

.footer__box::after {
    content: "";
    background-color: #090c35;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
}

.footer-top__box {
    padding-top: 10rem;
}

.footer-sml-svg__box {
    position: relative;
}

.svg-sml-logo {
    position: relative;
    display: block;
    fill: #ffffff;
    width: 6rem;
    height: 6rem;
    padding: 1rem 0.8rem;
    margin: 0 auto;
    border-radius: 2rem;
    z-index: 2;
    background-color: #5e42b0;
}

.footer-content__box {
    position: relative;
    margin-top: 4rem;
    z-index: 2;
}

.big-footer__text {
    position: relative;
    display: block;
    font-size: 3.1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}

.small-footer__text {
    position: relative;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #9b8ec1;
    text-transform: uppercase;
    text-align: center;
    font-family: "Open Sans";
    font-weight: normal;
    text-align: center;
}

.footer-button__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 7rem auto 6rem;
    z-index: 2;
}

.footer-svg__box .svg-logo-text {
    position: relative;
    display: block;
    fill: #ffffff;
    width: 12rem;
    margin: 0 auto;
    z-index: 2;
}


@media (min-width: 641px) and (max-width: 960px) {
    .footer__box {
        background-image: url("../img/game_1280.jpg");
        min-height: 96rem;
        background-size: cover;
    }

    .footer-top__box {
        padding-top: 12rem;
    }

    .footer-sml-svg__box {
        margin-bottom: 8rem;
    }

    .svg-sml-logo {
        width: 9.5rem;
        height: 9.5rem;
        border-radius: 3rem;
        padding: 2.2rem 2.2rem;
    }

    .big-footer__text {
        font-size: calc(6rem + 1vw);
        letter-spacing: 0.20rem;
        padding: 0;
    }

    .small-footer__text {
        font-size: calc(3rem + 0.25vw);
        letter-spacing: 0.2rem;
    }
}

@media (min-width: 961px) {
    .footer__box {
        background-image: url("../img/game_1920.jpg");
        min-height: 96rem;
        background-size: cover;
    }

    .footer-top__box {
        display: flex;
        padding-top: 20rem;
        justify-content: center;
    }

    .footer-content__box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0;
        margin-left: 2rem;
    }

    .footer-sml-svg__box {
        padding: 0;
        margin: 0;
    }

    .svg-sml-logo {
        width: 11rem;
        height: 11.5rem;
        border-radius: 3rem;
        padding: 2rem 2rem;
    }

    .big-footer__text {
        font-size: calc(7rem + 1vw);
        line-height: 10rem;
        letter-spacing: 0.20rem;
        padding: 0;
        margin: 0;
    }

    .small-footer__text {
        font-size: calc(3rem + 0.25vw);
        letter-spacing: 0.15rem;
        line-height: 5rem;
        padding: 0 0 0 0.5rem;
        margin: 0;
    }
}

@media (min-width: 641px) {
    .header-button__box {
        flex-direction: row;
        justify-content: center;
        margin-top: 28rem;
    }

    .footer-button__box {
        flex-direction: row;
        justify-content: center;
        margin-top: 30rem;
        margin-bottom: 10rem;
        padding: 0 3rem;
    }

    .button-download__box {
        height: 7.6rem;
        margin: 0 1.5rem;
        width: 31rem;
        box-shadow: 0rem 2rem 2rem #090c35;
    }

    .left-download__box {
        justify-content: center;
        flex-basis: 38%;
    }

    .right-download__box {
        margin: 0;
    }

    .svg-logo__box {
        width: 4.5rem;
    }

    .top-link__text,
    .bottom-link__text {
        font-size: 1.4rem;
    }
}

@media (min-width: 641px) {
    .footer-svg__box .svg-logo-text {
        width: 20rem;
        padding-bottom: 2rem;
    }

}