/* *--Шрифты--* */

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
        url(../fonts/OpenSans-Bold.woff) format("woff"),
        url(../fonts/OpenSans-Bold.woff2) format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
        url(../fonts/OpenSans-Regular.woff) format("woff"),
        url(../fonts/OpenSans-Regular.woff2) format("woff2");
    font-weight: normal;
}

/* !--Общие стили--! */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    min-width: 32rem;
}

header,
main,
footer {
    max-width: 100%;
}


.href-none {
    text-decoration: none;
}

.download__link {
    color: #ffffff;
    text-transform: uppercase;
}

/* TODOO Общие стили ! */

/*--Header--*/

.header__box {
    position: relative;
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-color: #090c35;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 5vh;
    z-index: 0;
}

@media (min-width: 641px) and (max-width: 960px) {

    .header__box {
        background-image: url(../img/football_1280.jpg);
        min-height: 100vh;
        padding-top: 5rem;

    }

}

@media (min-width: 961px) {

    .header__box {
        background-image: url(../img/football_1920.jpg);
        min-height: 96rem;
        padding-top: 5rem;
    }

}

.header__box::after {
    content: "";
    background-color: #090c35;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1
}

.header-svg__box .svg-logo-text {
    position: relative;
    display: block;
    fill: #ffffff;
    width: 12rem;
    margin: auto;
    z-index: 2;
}

@media (min-width: 641px) {
    .header-svg__box .svg-logo-text {
        width: 20rem;
    }
}

.header-slogan__box {
    position: relative;
    display: block;
    margin-top: 30%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 34rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.slogan {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 2.8rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
}

.slogan-bottom {
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 2.8rem;
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-slogan__box {
        margin-top: 17rem;
        max-width: 62rem;
        padding: 0;
    }

    .slogan {
        font-size: 6.4rem;
    }

    .slogan-bottom {
        margin-top: 1rem;
        margin-left: 15%;
    }
}

@media (min-width: 961px) {
    .header-slogan__box {
        position: relative;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 20rem;
        max-width: 150rem;
        margin-left: auto;
        margin-right: auto;
    }

    .slogan {
        font-size: calc(4rem + 2vw);
    }

    .slogan-top {
        padding-left: 4rem;
    }

    .slogan-bottom {
        margin-top: 0.5rem;
        margin-left: calc(20vw + 1rem);
    }
}

.header-button__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    z-index: 2;
}

.button-download__box {
    position: relative;
    display: block;
    height: 3.5rem;
    width: 28rem;
    background-color: #5e42b0;
    border-radius: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0rem 1rem 1rem #090c35;
}

@media (min-width: 320px) and (max-width: 640px) {
    .button-download__box:nth-child(n + 2) {
        margin-top: 1.5rem;
    }
}

.button-download__box:active {
    box-shadow: none;
}

.dowload__box {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.left-download__box {
    display: flex;
    justify-content: flex-end;
    flex-basis: 38%;
}

.svg-logo__box {
    fill: #ffffff;
    width: 2.5rem;
}

.right-download__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

.top-link__text {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: normal;
}

.bottom-link__text {
    font-size: 0.8rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
}

/*--Main-**/

.main__box {
    position: relative;
    margin: 0 auto;
}

.sport__section {
    max-width: 100%;
}

.top-sport__box,
.bottom-sport__box {
    position: relative;
    padding-top: 2.5rem;
    max-width: 100%;
}

.h2__title {
    position: relative;
    display: block;
    margin: 0 auto 1.2rem 5%;
    font-family: "Open Sans";
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #e7e7e7;
}

.sport-img__box {
    position: relative;
    margin-bottom: -4rem;
    max-width: 100%;
}

.sport-img {
    display: block;
    margin: 0 auto;
}

.agitation__box {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 5rem 5%;
}

.agitation-content__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agitation-title__box {
    position: relative;
    display: flex;
    align-items: center;
}

.top-num__box {
    position: relative;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-right: 1rem;
}

.top-num__box::after {
    content: "";
    display: block;
    background-color: #5e42b0;
    width: 1.6rem;
    height: 0.4rem;
    border-radius: 2rem;
}

.h3__title {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    position: relative;
    display: block;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: #c1c1c1;
}

.agitation-content__txt {
    position: relative;
    display: block;
    font-family: "Open Sans";
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    font-weight: normal;
    margin: 2rem 0 0;
}

.agitation__box:nth-child(4) {
    background-color: #f5f4f9;
}

.top-sport__box .agitation__box:nth-child(5) {
    background-color: #5e42b0;
    color: #ffffff;
}

.bottom-sport__box .agitation__box:nth-child(5) {
    background-color: #090c35;
    color: #ffffff;
}

.agitation__box:nth-of-type(3n+1) .top-num__box:after {
    background-color: #efefef;
}

.top-sport__box .agitation__box:nth-child(3n+2) .top-num__box {
    color: black;
}

.bottom-sport__box .agitation__box:nth-child(5n+5) .top-num__box {
    color: #5e42b0;
}

.lifestyle__box {
    position: relative;
}

.lifestyle-title__box {
    position: relative;
}

.picture__box {
    position: relative;
}

.lifestyle-img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.ls-num__box {
    position: absolute;
    box-sizing: border-box;
    background-color: #5e42b0;
    height: 7rem;
    width: 7rem;
    margin-top: -5rem;
    margin-left: 2rem;
}

.ls-num {
    display: block;
    position: absolute;
    font-family: "Open Sans";
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #fafafa;
    top: 2.3rem;
    left: 2.6rem;
}

.ls-num::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #8f7bc8;
    width: 1.6rem;
    height: 0.4rem;
    border-radius: 2rem;
    margin-top: 0.20rem;
}

.lifestyle-content__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.2rem 2rem;
    margin-bottom: 5rem;
}

.lifestyle-content__box .h3__title {
    color: #e7e7e7;
    font-size: 2.8rem;
}

.lifestyle-content__txt {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    font-family: "Open Sans";
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 0.15rem;
    font-weight: normal;
    margin-top: 5%;
}

@media (min-width: 641px) and (max-width: 960px) {

    .top-sport__box,
    .bottom-sport__box {
        padding-top: 7rem;
    }

    .agitation__box {
        padding: 3rem 5%;
    }
}

@media (min-width: 961px) {

    .top-sport__box,
    .bottom-sport__box {
        padding-top: 10rem;
    }
}

@media (min-width: 641px) and (max-width: 750px) {
    .bottom-sport__box .sport-img {
        position: absolute;
        left: auto;
        top: -21.5rem;
        right: 0;
    }
}

@media (min-width: 751px) and (max-width: 960px) {
    .bottom-sport__box .sport-img {
        position: absolute;
        left: auto;
        top: -17rem;
        right: 0;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .top-sport__box .sport-img {
        position: absolute;
        margin: 0;
        top: -10rem;
        left: -17rem;
    }

    .h2__title {
        font-size: calc(6.5rem + 1.25vw);
        padding-left: 40%;
        margin: 0 0 5rem;
    }

    .h3__title {
        font-size: 3.2rem;
    }

    .bottom-sport__box .h2__title {
        padding-left: 3rem;
    }

    .agitation-content__box {
        padding-left: 40%;

    }

    .bottom-sport__box .agitation-content__box {
        padding-left: 0;
        padding-right: 40%;
    }

    .agitation-content__txt {
        font-size: 1.6rem;
    }

    .top-num__box {
        font-size: 1.8rem;
    }

    .top-num__box::after {
        content: "";
        display: block;
        background-color: #5e42b0;
        width: 2.2rem;
        height: 0.5rem;
        border-radius: 2rem;

    }

    .lifestyle-img {
        position: relative;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .ls-num__box {
        height: 12rem;
        width: 12rem;
        margin-left: 3rem;
        margin-top: -9rem;
    }

    .ls-num {
        font-size: 2.4rem;
        top: 4rem;
        left: 4.5rem;

    }

    .ls-num::after {
        width: 2.6rem;
        height: 0.5rem;
        border-radius: 3rem;
        margin-top: 0.15rem;
    }

    .lifestyle-content__box {
        padding: 4rem 3rem;
        margin-top: 2vh;
        margin-bottom: 4rem;
    }

    .lifestyle-content__box .h3__title {
        font-size: calc(6rem + 1.25vw);
    }

    .lifestyle-content__txt {
        font-size: 2.4rem;
    }
}

@media (min-width: 961px) {

    .h2__title {
        font-size: calc(6.5rem + 1.25vw);
        margin: 0 0 5rem;
        padding-left: 50%;

    }

    .h3__title {
        font-size: 3.2rem;
    }

    .bottom-sport__box .h2__title {
        font-size: calc(6.5rem + 1.25vw);
        padding-left: 10%;
    }

    .sport-img__box {
        position: relative;
        width: 50%;
        margin: 0;
    }


    .top-sport__box .sport-img {
        position: absolute;
        margin: 0;
        top: -20rem;
        right: 5rem;
        max-width: 75rem;

    }

    .bottom-sport__box {
        max-width: 100%;
        overflow: hidden;

    }

    .bottom-sport__box .sport-img {
        position: absolute;
        margin: 0;
        top: -26rem;
        left: 70%;
    }

    .agitation-content__box {
        padding: 0 0 0 50%;
        max-width: 75rem;
    }

    .agitation__box {
        padding: 5rem 10%;
    }

    .agitation-content__txt {
        font-size: 1.6rem;
    }

    .agitation-content__box {
        padding: 0 0 0 50%;
        max-width: 75rem;
    }

    .bottom-sport__box .agitation-content__box {
        padding: 0 50% 0 0;
        max-width: 75rem;
        margin: 0;
    }

    .top-num__box {
        font-size: 1.8rem;

    }

    .top-num__box::after {
        content: "";
        display: block;
        background-color: #5e42b0;
        width: 2.2rem;
        height: 0.5rem;
        border-radius: 2rem;

    }

    .lifestyle-content__box {
        margin: 0;
        padding: 5rem 10rem 10rem;
        box-sizing: border-box;
        width: 50%;
        display: flex;
    }

    .lifestyle__box {
        position: relative;
        max-width: 100%;
    }

    .lifestyle__box:nth-child(2n + 2) .lifestyle-content__box {
        order: -1;
    }

    .lifestyle-title__box {
        display: flex;
        max-width: 100%;
        min-height: 72rem;
    }

    .picture__box {
        width: 50%;

    }

    .picture__box:nth-child(2n+2) {
        order: 3;
    }

    .lifestyle-img {
        height: 100%;

    }

    .ls-num__box {
        height: 15rem;
        width: 15rem;
        left: 50%;
        top: 39%;
        margin-left: -7.5rem;
    }

    .ls-num {
        font-size: 2.4rem;
        letter-spacing: 0.1rem;
        left: 40%;
        top: 37%;
    }

    .ls-num::after {
        width: 2.6rem;
        height: 0.5rem;
        border-radius: 3rem;
        margin-top: 0.15rem;
    }


    .lifestyle-content__box .h3__title {
        font-size: calc(5rem + 1.25vw);
    }

    .lifestyle-content__txt {
        font-size: 2.4rem;
    }
}

/*--Footer--*/

.footer__box {
    position: relative;
    background-image: url("../img/game_767.jpg");
    background-color: #090c35;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding-top: 10vh;
    z-index: 0;
}

.footer__box::after {
    content: "";
    background-color: #090c35;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
}

.footer-sml-svg__box {
    position: relative;
}

.svg-sml-logo {
    position: relative;
    display: block;
    fill: #ffffff;
    width: 6rem;
    height: 6rem;
    padding: 1rem 0.8rem;
    margin: 0 auto;
    border-radius: 2rem;
    z-index: 2;
    background-color: #5e42b0;
}

.footer-content__box {
    position: relative;
    margin-top: 4rem;
    z-index: 2;
}

.big-footer__text {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    font-size: 3.1rem;
    letter-spacing: 0.20rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}

.small-footer__text {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    color: #9b8ec1;
    text-transform: uppercase;
    text-align: center;
    font-family: "Open Sans";
    font-weight: normal;
    text-align: center;
}

.footer-button__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 12vh auto;
    z-index: 2;
}

.footer-svg__box .svg-logo-text {
    position: relative;
    display: block;
    fill: #ffffff;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}


@media (min-width: 641px) and (max-width: 960px) {
    .footer__box {
        background-image: url("../img/game_1280.jpg");
        height: 100vh;
    }

    .footer-top__box {
        padding-top: 10vh;
    }

    .svg-sml-logo {
        width: 9.5rem;
        height: 9.5rem;
        border-radius: 3rem;
        padding: 2.2rem 2.2rem;
    }

    .big-footer__text {
        font-size: calc(6rem + 1vw);
    }

    .small-footer__text {
        font-size: calc(3rem + 0.25vw);
    }

    .footer-button__box {
        margin: 15vh auto 5vh;
    }
}

@media (min-width: 961px) {
    .footer__box {
        background-image: url("../img/game_1920.jpg");
        height: 96rem;
    }

    .footer-top__box {
        display: flex;
        padding-top: 20rem;
        justify-content: center;
    }

    .footer-content__box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0;
        margin-left: 2rem;
    }

    .footer-sml-svg__box {
        padding: 0;
        margin: 0;
    }

    .svg-sml-logo {
        width: 11rem;
        height: 11.5rem;
        border-radius: 3rem;
        padding: 2rem 2rem;
    }

    .big-footer__text {
        font-size: calc(7rem + 1vw);
    }

    .small-footer__text {
        font-size: calc(3rem + 0.25vw);

    }
}

@media (min-width: 641px) {
    .header-button__box {
        flex-direction: row;
        justify-content: center;
        margin-top: 28rem;
        padding-bottom: 4rem;
    }

    .footer-button__box {
        flex-direction: row;
        justify-content: center;
        margin-top: 30rem;
        margin-bottom: 10rem;
        padding: 0 3rem;
    }

    .button-download__box {
        height: 7.6rem;
        margin: 0 1.5rem;
        width: 31rem;
        box-shadow: 0rem 2rem 2rem #090c35;
    }

    .left-download__box {
        justify-content: center;
        flex-basis: 38%;
    }

    .right-download__box {
        margin: 0;
    }

    .svg-logo__box {
        width: 4.5rem;
    }

    .top-link__text,
    .bottom-link__text {
        font-size: 1.4rem;
    }
}

@media (min-width: 641px) {
    .footer-svg__box .svg-logo-text {
        width: 20rem;

    }

}